*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
  }
  
  body {
    font-family: 'Poppins', sans-serif;
    background-color: #001D20;
  }
  
  a {
    text-decoration: none;
  }
  
  h1, h2 {
    font-weight: 300;
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2rem;
  }

  p {
    font-size: 1.1rem;
  }

  .btn {
    display: inline-block;
    background-color: #2EA2E6;
    text-align: center;
    border-radius: 10px;
  }
  
  @media(max-width: 1100px) {
    :root {
      font-size: 73%;
    }
  }