*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
  }
  
  body {
    font-family: 'Poppins', sans-serif;
    background-color: #001D20;
  }
  
  a {
    text-decoration: none;
  }
  
  h1 {
    font-size: 3rem;
    font-weight: 300;
  }

  p {
    font-size: 1.1rem;
  }
  @media(min-width: 2000px) {
    :root {
      font-size: 200%;
    }
  }
  @media(max-width: 1100px) {
    :root {
      font-size: 73%;
    }
  }