.movie {
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
}

.movie img {
    width: 400px;
    height: 234px;
    margin-right: 60px;
}

.movie-info h2 {
    margin-bottom: 20px;
}

.movie-info p {
    font-size: 1rem;
    margin-bottom: 20px;
}

.movie-info a {
    padding: 10px 40px;
}

@media(min-width: 2000px) {
    .movie img {
        width: 600px;
        height: 352px;
    }
}

@media(max-width: 900px) {
    .movie img {
        width: 300px;
        height: 201px;
    }
}

@media(max-width: 767px) {
    .movie {
        flex-direction: column;
        align-items: center;
    }

    .movie img {
        margin: 0 0 20px 0;
    }

    .movie-info {
        text-align: center;
    }
}

@media(max-width: 380px) {
    .movie img {
        width: 260px;
        height: 152px;
    }    
}
