main {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    max-width: 1800px;
}

.main-info-container h1{
    margin-bottom: 20px;
}

.main-info-container a {
    padding: 10px 50px;
    margin-top: 30px;
}

main img {
    width: 40vw;
}

.movies-container {
    width: 80%;
    margin: auto;
    padding-bottom: 100px;
    max-width: 980px;
}

@media(min-width: 2000px) {
    .movies-container {
        max-width: 1600px;
    }
    .main-info-container h1{
        font-size: 60px;
    }
    .main-info-container p {
        font-size: 25px;
    }
}
@media(max-width: 767px) {
    main {
        flex-direction: column;
        justify-content: center;
        width: 90%;
    }

    main img {
        width: 260px;
        margin-bottom: 40px;
    }

    .main-info-container {
        text-align: center;
        order: 1;
    } 

    .main-info-container h1 {
        margin-bottom: 10px;
    }

    .main-info-container a {
        margin-top: 20px;
    }
}
