main {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}

.main-info-container h1{
    margin-bottom: 20px;
}

.main-info-container a {
    display: inline-block;
    background-color: #2EA2E6;
    border-radius: 10px;
    padding: 10px 50px;
    margin-top: 30px;
    text-align: center;
}

main img {
    width: 40vw;
}

@media(max-width: 767px) {
    main {
        flex-direction: column;
        justify-content: center;
        width: 90%;
    }

    main img {
        width: 260px;
        margin-bottom: 40px;
    }

    .main-info-container {
        order: 1;
    } 

    .main-info-container h1 {
        margin-bottom: 10px;
    }

    .main-info-container a {
        margin-top: 20px;
    }
}
